@{
    ViewBag.Title = "Home Page";
}
<div>
    Пожалуйста загрузите файл...
</div>
<form id="Dost" action="/home/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file" />
    <button type="submit">
        Загрузить файл
    </button>
</form>
