<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Каталог_недвижимости.Properties.Settings.Каталог_недвижимостиConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;|DataDirectory|\Каталог недвижимости.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Каталог_недвижимости.Properties.Settings.Каталог_недвижимостConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;D:\Хрень\Desktop\Каталог недвижимост.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>